
.item{
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 24px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  align-items: center;
  padding: 24px 30px 0 30px;
}
.item-faq-travel{
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 24px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  align-items: center;
  padding: 24px 30px 24px 30px;
}

.hidden-box{
  grid-column: 2;
  max-height: 0;
  overflow: hidden;
  transition: all 0.15s ease-out;
}

.active-box{
  max-height: 240px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  transition: all 0.15s ease-in-out;
}
.active-box-send{
  max-height: 600px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  transition: all 0.15s ease-in-out;
}
.open-request{
  display: none;
}
@media only screen and (max-width: 768px) {
  .screen-mobile {
    width: 100%;
    padding-left: 10px; /* Adjust as needed for smaller screens */
    padding-right: 10px;
    margin-bottom: 10px;
  }

  .mobile{
    margin-top: 135px;
  }

  .img{
    width: 30px;  
    padding: 0px;
    padding-left: 0px;
    margin-right: 15px;
    margin-bottom: 10px;
  }
  .item{
    padding: 0px 10px;
    padding-top: 10px;
    row-gap: 0px;
    column-gap: 0px;
  }

  .active-box{
    margin: 0px;
  }

  .icon{
    padding: 0px;
    margin-right: 0px;
    width: 20px;
    height: 20px;
  }

  .one p:nth-child(1) {
    font-size: 15px;
    padding-bottom: 0px;
  }
  .one p:nth-child(2) {
    font-size: 10px;
    padding-bottom: 10px;
  }

  .hidden-box div{
    width: 100%;
  }
  .hidden-box div div p{
    font-size: 9px;
  }
  .hidden-box div div img{
    width: 20px;
  }
  .social-icon{
    margin-left: 7px;
  }
  .twitter{
    margin-left: 2px;
  }

  .query-img{
    margin: 0px;
    padding: 0px;
  }

  .form-input{
    margin: 0px;
    gap: 10px;
  }

  .form-after-div{
    margin-top: 10px;
  }

  .faw-data{
    width: 100%;
    display: block;
  }
  .item-faq-travel{
    padding: 0px;
    margin: 0px;
    gap: 0px;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
  }

  .header{
    height: 200px;
    margin: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .header div h1{
    font-size: 20px;
    padding-top: 40px;
  }
  .header div p{
    font-size: 15px;

  }
  .faqtravel{
    position: absolute;
    top: 155px;
  }

  .header-nav{
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-nav div{
    font-size: 20px;
  }
  .help-section{
    display: none;
  }
  .logo-section{
    border-radius: 0px;
    background-color: white;
  }
  .logo-section img:nth-child(3){
    display: none;
  }
  .open-request{
    display: flex;
    font-size: 15px;
    padding-top: 5px;
    padding-right: 20px;
  }

  .arrow{
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: gray;
  }
}